<h2 class="quizName">Nazwa Quizu: {{ quizName }}</h2>
<h2 class="quizName">ID: {{ quizId }}</h2>
<div>
  <div [ngClass]="{'black-out': !isQuizSaved}" *ngIf="!isQuizSaved">
  <div class="email-section">
    <h3 class="email-heading">Podaj adres e-mail:</h3>
    <input
      type="email"
      placeholder="Twój adres e-mail"
      [(ngModel)]="email"
      class="email-input"
    />
    <button
      [disabled]="!email || email.trim() === '' "
      (click)="saveQuiz()"
      class="save-button"
    >
      Zapisz/Wyślij Quiz
    </button>
  </div>
</div>
    <div *ngIf="isQuizSaved">
      <p class="communicate">Twój quiz został poprawnie zapisany i wysłany.</p>
    </div>
<header>

</header>
  <div *ngIf="isQuestionListVisible">
<div style="flex: 1;" class="question-list-wrapper">
  <div style="flex: 1; padding-right: 20px;">
    <div class="question-section">

      <h2 class="list-title">Lista pytań:</h2>
      <ol>
        <li *ngFor="let question of questionList" class="question-list">
          <div class="question-info">
            <span class="question-text">{{ question.questionText }}</span>
            <span
              class="question-type">{{ question.questionType === 'SINGLE' ? '  (Jedna odpowiedź)' : '  (Wiele odpowiedzi)' }}</span>
          </div>
          <ol type="a">
            <li *ngFor="let answer of question.answers" class="answer-list">
              <label>
                <input type="checkbox" [(ngModel)]="answer.isSelected" class="answer-checkbox">
                {{ answer.answerForTheQuestion }}
              </label>
            </li>
          </ol>
      </ol>
    </div>
  </div>
</div>
</div>
</div>
