img {
  width: 150px;
  height: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #a6da67;
}

.header-text {
  flex-grow: 1;
  text-align: center;

  }

.header-text2 {
  flex-grow: 1;
  text-align: right;
}

.logo {
  width: 150px;
  height: auto;
}

.buttons {
  display: flex;
  gap: 10px;
}

.title {
  text-align: center;
  color: #604615;
}

.description {
  margin: 0;
  line-height: 1.5;
  color: #286015;

}

.all-page {
  height: auto;
  min-height: 100%;
  background-color: #cae371;
}

.start-page-header {
  color: #f32049;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  transform: perspective(100px) rotateX(10deg);
  text-align: center;
}

.description-container {
  text-align: center;
  width: 30%;
  background-color: #604615;

}

.description-title {
  color: #faf1b2;
  text-align: center
}

footer {
  background-color: #cae371;
  padding: 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
