<div class="header">
  <img src="assets/logo.png" alt="Logo">
  <div class="buttons">
    <button routerLink="/rejestracja">Rejestracja</button>
    <button routerLink="/logowanie">Logowanie</button>
  </div>
</div>

<h1 class="title">Witaj w Quiz 3K</h1>
<p clas="description">
  Nasza aplikacja została stworzona abyś mógł stworzyć
  wszelkiego rodzaju quizy bądź testy. Każdy użytkownik
  będzie ma możliwość tworzenia własnego testu z pytaniami
  jednokrotnego wyboru bądź wielokrotnego wyboru oraz możliwością
  przeglądania udostępniania oraz edycji własnych testów.
</p>

