<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Strona HTML</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Strona HTML</h1>-->

<!--<button (click)="wyloguj()">Wyloguj</button>-->
<!--<button (click)="wrocDoListy()">Wróć do listy</button>-->

<!--<form (submit)="generujQuiz()">-->
<!--  <label for="nazwaQuizu">Nazwa quizu:</label>-->
<!--  <input type="text" id="nazwaQuizu" [(ngModel)]="nazwaQuizu" name="nazwaQuizu">-->
<!--  <button type="submit">Generuj</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->
