.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.right-corner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

h1 {
  text-align: center;
}

.button-group {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}
button{
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid #faf1b2;
  background-color: #464545;
  color: #faf1b2;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
button:hover{
  background-color: #999999;
}
.table-button{
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 12px;
  border: 2px solid #faf1b2;
  background-color: #464545;
  color: #faf1b2;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.action-column{
  position: absolute;
  right: 0;
  margin: 10px;
}
.text-right{
  text-align: right;
  color: #faf1b2;
}

.list-box{
  margin: 20px;
  border: 1px solid #faf1b2;
  padding: 10px;
  background-color:#3d3d3c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
.list-title{
  color: #faf1b2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.page-title{
  color: #faf1b2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-size: 50px;
}
.set-quiz-name{
  border-radius: 5px;
}
.table-quiz-name{
  color: #faf1b2;
}
.confirm-delete-message{
  color: #faf1b2;
}
.empty-list-message{
  color: #faf1b2;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
