<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Quiz-page</title>
</head>
<body class="container">
<header>
  <div class="right-corner">
    <button (click)="wyloguj()">Wyloguj</button>
  </div>
</header>

<h1>Strona quizów</h1>

<div class="button-group">
  <button (click)="dodajQuiz()">Dodaj nowy quiz</button>
</div>

<h2>Lista quizów:</h2>
<table mat-table [dataSource]="quizList" class="mat-elevation-z8">
  <ng-container matColumnDef="lp">
    <th mat-header-cell *matHeaderCellDef>Lp.</th>
    <td mat-cell *matCellDef="let quiz; let i = index">{{ i + 1 }}</td>


  </ng-container>

  <ng-container matColumnDef="nazwa">
    <th mat-header-cell *matHeaderCellDef>Nazwa quizu</th>
    <td mat-cell *matCellDef="let quiz; let i = index">{{ quiz }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['lp', 'nazwa']"></tr>
  <tr mat-row *matRowDef="let quiz; columns: ['lp', 'nazwa'];"></tr>

</table>
</body>
</html>
