<div>
<div class="buttons">
  <button routerLink="/rejestracja">Rejestracja</button>
  <button routerLink="/logowanie">Logowanie</button>
</div>
<h1 class="title">Witaj w Quiz 3K</h1>
<div class="description-container">
  <h3 class="description-title"> Jak działa Q3K </h3>
<p class="description">
  Nasza aplikacja pozwala stworzyć
  wszelkiego rodzaju quizy bądź testy. Każdy użytkownik
  ma możliwość tworzenia własnego testu z pytaniami
  jednokrotnego bądź wielokrotnego wyboru oraz możliwością
  przeglądania, udostępniania i edycji własnych testów.
</p>
</div>
</div>
