<aside>
<div>

<div class="buttons">
  <button routerLink="/rejestracja">Rejestracja</button>
  <button routerLink="/logowanie">Logowanie</button>
  <button >Kontakt</button>
</div>
  <div>
 <h1 class="title">Program do tworzenia quizów i testów</h1>
<div class="description-container">
  <h3 class="description-title"> Jak działa Q3K </h3>
<p class="description">
  Nasza aplikacja pozwala stworzyć
  wszelkiego rodzaju quizy bądź testy. Każdy użytkownik
  ma możliwość tworzenia własnego testu z pytaniami
  jednokrotnego bądź wielokrotnego wyboru oraz możliwość
  przeglądania, udostępniania oraz edycji własnych testów.
</p>
</div>
    <h1 class="title">Nauka to potęgi klucz.... </h1>
<div class="all-photos">
    <img src="https://www.blasty.pl/upload/images/gif/2016/12/kiedy-biore-sie-za-nauke_2016-12-08_11-40-23.gif" width="495" height="369">
    <img  src="https://img.besty.pl/images/393/04/3930438.gif" width="495" height="369">
    <img  src="https://d-art.ppstatic.pl/kadry/k/r/1/9f/a1/6090e52a391a9_o_large.jpg" width="495" height="369">
  </div>
<!--    <h1 class="title">Albo tak .... z naszym programem :) </h1>-->
<!--    <h1 class="mit">-->
<!--    <img  src="https://m.media-amazon.com/images/I/61ltxU8sWLL._AC_SL1000_.jpg" width="595" height="469">-->
<!--    </h1>-->
  </div>

</div>
</aside>
