button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  border: 2px solid white;
  background-color: #464545;
  color: white;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
button:hover{
  background-color: #999999;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #69ea14;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

}

.description {
  font-family: Roboto, serif;
  margin: 10px;
  line-height: 1.5;
  color: #faf1b2;
  font-size: 18px;
}

.description-container {
  text-align: center;
  background-color: #3d3d3c;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  border: 1px solid #faf1b2;
  width: 70%;
  margin: 20px auto;


}
.description-title{
  color: #faf1b2;
  font-size: 25px;
}
.aside{
  width: auto;
}
.mit{
  text-align: center;
}
.all-photos{
  margin-top: 30px;
  text-align: center;

}
.all-text{
  text-align: center;
}


.img-gif{
  width:495px ;
  height: 369px;
  border: 2px solid white;
  box-shadow: 2px 2px 4px white;
  margin: 10px;
}
.right-corner {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
