<h2 class="quizName">Nazwa Quizu: {{ quizName }}</h2>
<h2 class="quizName">ID: {{ quizId }}</h2>

<header>
  <div class="right-corner">
    <button (click)="logout()">Wyloguj</button>
  </div>
</header>
<div style="display: flex;">
  <div style="flex: 1; padding-right: 20px;">
<div class="question-section">
  <h3>Dodaj nowe pytanie:</h3>
  <form (submit)="addQuestion()" [formGroup]="questionForm">
    <div>
      <label>Treść pytania:</label>
      <textarea formControlName="questionText" required [ngClass]="{ 'is-invalid': questionForm.get('questionText').invalid && (questionForm.get('questionText').dirty || questionForm.get('questionText').touched) }"></textarea>
      <div *ngIf="questionForm.get('questionText').invalid && (questionForm.get('questionText').dirty || questionForm.get('questionText').touched)" class="invalid-feedback">
        Uzupełnij to pole.
      </div>
    </div>
    <div>
      <label>Typ pytania:</label>
      <select formControlName="questionType" required (change)="updateQuestionType()">
        <option value="" disabled [selected]="true">Wybierz typ pytania</option>
        <option value="SINGLE">Jednokrotny</option>
        <option value="MULTIPLE">Wielokrotny</option>
      </select>
      <div *ngIf="questionForm.get('questionType').invalid && (questionForm.get('questionType').dirty || questionForm.get('questionType').touched)" class="invalid-feedback">
        Wybierz typ pytania.
      </div>
    </div>
    <div>
      <div *ngIf="showCheckboxInfo || questionForm.value.questionType === 'single'">
        <label class="checkbox-info">Zaznacz poprawne odpowiedzi:</label>
      </div>
    </div>
    <div *ngFor="let answer of newQuestion.answers; let i = index">
      <div *ngIf="!answer.deleted">
        <div class="answer-wrapper" [formGroup]="getAnswerForm(i)">
          <input type="checkbox" formControlName="confirmedAnswer" (change)="toggleCorrectAnswer(getAnswerForm(i))" [checked]="answer">
          <input type="text" formControlName="answerForTheQuestion" required>
          <button type="button" class="remove-answer" (click)="removeAnswer(getAnswerForm(i))">Usuń odpowiedź</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addAnswer()">Dodaj odpowiedź</button>
    <button type="submit">Zapisz pytanie</button>
  </form>
</div>
</div>
  <div style="flex: 1;" class="question-list-wrapper">
    <h2 class="list-title">Lista pytań:</h2>
    <ol>
      <li *ngFor="let question of questionList" class="question-list">
        {{ question.questionText }}
        <ul>
          <li *ngFor="let answer of question.answers" class="answer-list">
            {{ answer}}
            <span *ngIf="answer.confirmedAnswer" class="correct-answer">Poprawna odpowiedź</span>
          </li>
        </ul>
        <button (click)="editQuestion(question.id)" class="question-list-wrapper-button">Edytuj</button>
        <button (click)="deleteQuestion(question.id)" class="question-list-wrapper-button">Usuń</button>
      </li>
    </ol>
  </div>
</div>
