<h2 class="quizName">Nazwa Quizu: {{ quizName }}</h2>

<div class="question-section">
  <h3>Dodaj nowe pytanie:</h3>
  <form (submit)="addQuestion()" [formGroup]="questionForm">
    <div>
      <label>Pytanie:</label>
      <textarea formControlName="questionText" required [ngClass]="{ 'is-invalid': questionForm.get('questionText').invalid && (questionForm.get('questionText').dirty || questionForm.get('questionText').touched) }"></textarea>
      <div *ngIf="questionForm.get('questionText').invalid && (questionForm.get('questionText').dirty || questionForm.get('questionText').touched)" class="invalid-feedback">
        Uzupełnij to pole.
      </div>
    </div>
    <div>
      <label>Typ pytania:</label>
      <select formControlName="questionType" required (change)="updateQuestionType()">
        <option value="" disabled [selected]="true">Wybierz typ pytania</option>
        <option value="SINGLE">Jednokrotny</option>
        <option value="MULTIPLE">Wielokrotny</option>
      </select>
      <div *ngIf="questionForm.get('questionType').invalid && (questionForm.get('questionType').dirty || questionForm.get('questionType').touched)" class="invalid-feedback">
        Wybierz typ pytania.
      </div>
    </div>
    <div>
      <div *ngIf="showCheckboxInfo || questionForm.value.questionType === 'single'">
        <label class="checkbox-info">Zaznacz poprawne odpowiedzi:</label>
      </div>
    </div>
    <div *ngFor="let answer of newQuestion.answers; let i = index">
      <div *ngIf="!answer.deleted">
        <div class="answer-wrapper" [formGroup]="getAnswerForm(i)">
          <input type="checkbox" formControlName="correct" (change)="toggleCorrectAnswer(getAnswerForm(i))" [checked]="answer.correct">
          <input type="text" formControlName="text" required>
          <label>{{ answer.text }}</label>
          <button type="button" class="remove-answer" (click)="removeAnswer(getAnswerForm(i))">Usuń odpowiedź</button>
        </div>
      </div>
    </div>
    <button type="button" (click)="addAnswer()">Dodaj odpowiedź</button>
    <button type="submit">Dodaj pytanie</button>
  </form>
</div>
